<!--# layout("/common/layout.html",{"jsBase":"/js/admin/blog/"}){ -->

<form class="layui-form layui-form-pane" id="addForm"
	action="/admin/blog/save.json">
	<div class="layui-row">
	   <div class="layui-form-item">
		
			<div class="layui-inline">
			<label class="layui-form-label">title</label>
			<div class="layui-input-inline">
				<input type="text" name="title" 
					 class="layui-input" >
			</div>
			</div>
		
		
			<div class="layui-inline">
			<label class="layui-form-label">content</label>
			<div class="layui-input-inline">
				<input type="text" name="content" 
					 class="layui-input" >
			</div>
			</div>
		
		</div>
		
	</div>
	<div class="layui-row">
	   <div class="layui-form-item">
		
			<div class="layui-inline">
			<label class="layui-form-label">createTime</label>
			<div class="layui-input-inline">
				<input type="text" name="createTime" 
					 class="layui-input" >
			</div>
			</div>
		
		
			<div class="layui-inline">
			<label class="layui-form-label">createUserId</label>
			<div class="layui-input-inline">
				<input type="text" name="createUserId" 
					 class="layui-input" >
			</div>
			</div>
		
		</div>
		
	</div>
	<div class="layui-row">
	   <div class="layui-form-item">
		
			<div class="layui-inline">
			<label class="layui-form-label">type</label>
			<div class="layui-input-inline">
				<input type="text" name="type" 
					 class="layui-input" >
			</div>
			</div>
		
		</div>
		
	</div>
	
	<layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var blogAdd = layui.add
  blogAdd.init();
});

</script>
