<!--# layout("/common/layout.html",{"jsBase":"/js/admin/user/"}){ -->

<form class="layui-form layui-form-pane" id="addForm"
	action="/admin/user/add.json">
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">用户姓名</label>
			<div class="layui-input-block">
				<input type="text" name="name" autocomplete="off"
					placeholder="请输入标题" class="layui-input" value="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户帐号</label>
			<div class="layui-input-inline">
				<input type="text" name="code"  lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="">
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">所在机构</label>
				<layui:orgInput style='layui-input-inline' name="orgId" id="orgId"
					value=""></layui:orgInput>
			</div>
		</div>
		</div>

		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<label class="layui-form-label">用户状态</label>
			<layui:simpleDictSelect style='layui-input-inline' type="user_state"
				id="state" name="state" value="" />
		</div>
		</div>

	</div>
	

	<div class="layui-row">
	
		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">职务类型</label>
				<layui:simpleDictSelect style='layui-input-inline' type="job_type"
					id="jobType0" name="jobType0" value="" group="job"/>
			</div>
		</div>
		</div>

		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<label class="layui-form-label">职务类型明细</label>
			<layui:simpleDictSelect style='layui-input-inline' type=""
				id="jobType1" name="jobType1" value=""  group="job"/>
		</div>
		</div>

	</div>
	
	
	
	<layui:submitButtons id="saveUser" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var userAdd = layui.add
  userAdd.init();
});

</script>

