<!--# layout("/common/layout.html",{"jsBase":"/js/admin/user/"}){ -->

<form class="layui-form layui-form-pane" id="changePasswordForm"
	action="/admin/user/changePassword.json">
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">用户姓名</label>
			<div class="layui-input-block">
				<input type="text" name="name" disabled autocomplete="off"
					class="layui-input" value="${user.name}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户帐号</label>
			<div class="layui-input-inline">
				<input type="text" name="code" disabled 
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="${user.code}">
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-inline">
				<input type="password" name="password" autocomplete="off"
					placeholder="请输入密码" class="layui-input" value="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码确认</label>
			<div class="layui-input-inline">
				<input type="password" name="password2" lay-verify="required"
					placeholder="请再次输入密码" autocomplete="off" class="layui-input"
					>
			</div>
		</div>
	</div>
	
	<layui:submitButtons id="savePassword" />
	<input type="hidden" name="id" value=${user.id} />
</form>
<!--#} -->
<script>
layui.use(['changePassword'], function(){
  var changePassword = layui.changePassword
  changePassword.init();
});

</script>

