<!--# layout("/common/layout.html",{"jsBase":"/js/admin/user/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm"
	>
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">用户姓名</label>
			<div class="layui-input-block">
				<input type="text" name="name" autocomplete="off"
					placeholder="请输入标题" class="layui-input" value="${user.name}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户帐号</label>
			<div class="layui-input-inline">
				<input type="text" name="code" disabled lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="${user.code}">
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">所在机构</label>
				<layui:orgInput style='layui-input-inline' name="orgId" id="orgId"
					value="${user.orgId}"></layui:orgInput>
			</div>
		</div>
		</div>

		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<label class="layui-form-label">用户状态</label>
			<layui:simpleDictSelect style='layui-input-inline' type="user_state"
				id="state" name="state" value="${user.state}" />
		</div>
		</div>

	</div>
	

	<div class="layui-row">
	
		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">职务类型</label>
				<layui:simpleDictSelect style='layui-input-inline' type="job_type"
					id="jobType0" name="jobType0" value="${user.jobType0}" group="job_type"/>
			</div>
		</div>
		</div>

		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<label class="layui-form-label">职务类型明细</label>
			<layui:simpleDictSelect style='layui-input-inline' type=""
				id="jobType1" name="jobType1" value="${user.jobType1}"  group="job_type"/>
		</div>
		</div>

	</div>
	
	
	
	<layui:submitButtons id="saveUser" />
	<input type="hidden" name="id" value=${user.id} />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
  var userEdit = layui.edit
  userEdit.init();
});

</script>

