<!--#layout("/common/layout.html",{"jsBase":"/js/admin/user/"}){ -->
<layui:searchForm formId="userRoleSearchForm"  condition="${search}">
<input type="hidden" name="userId" value="${user.id}">
</layui:searchForm>

  <div class="layui-btn-group">
  	<layui:accessButton function="user.role.add"  action="add">增加</layui:accessButton>
  	<layui:accessButton function="user.role.delete"  action="del">删除</layui:accessButton>
      
  </div>
<table id="userRoleTable" lay-filter="userRoleTable"></table>
<layui:closeButton id="close"/>
<!--#} -->
<script>

layui.use(['userRole'], function(){
  var userRole = layui.userRole
  userRole.init(${user.id});
});

</script>
