<!--# layout("/common/layout.html",{"jsBase":"/js/admin/user/"}){ -->

<form class="layui-form layui-form-pane" id="userRoleAddForm"
	>
	
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">用户姓名</label>
			<div class="layui-input-block">
				<input type="text" name="name" autocomplete="off"
					placeholder="请输入标题" class="layui-input" value="${user.name}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户帐号</label>
			<div class="layui-input-inline">
				<input type="text" name="code" disabled lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="${user.code}">
			</div>
		</div>
	</div>
	
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">选择公司</label>
			<div class="layui-input-block">
				<layui:orgInput style='layui-input-inline' name="orgId" id="orgId"
					value="${user.orgId}"></layui:orgInput>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">选择角色</label>
			<div class="layui-input-block">
				<layui:roleInput name="roleId" type="R0" />
			</div>
		</div>
	</div>
	<layui:submitButtons id="saveUserRole" />
	<input type="hidden" name="userId" value=${user.id} />
</form>
<!--#} -->
<script>
layui.use(['userRoleAdd'], function(){
  var userRoleAdd = layui.userRoleAdd
  userRoleAdd.init();
});

</script>

