<!--# layout("/common/layout.html",{"jsBase":"/js/admin/role/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-block">
				<input type="text" name="name" autocomplete="off"
					 class="layui-input" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角色代码</label>
			<div class="layui-input-inline">
				<input type="text" name="code"  lay-verify="required"
					autocomplete="off" class="layui-input"
					>
			</div>
		</div>
	</div>
	<div class="layui-row">
		
		<div class="layui-col-xs4">
		<div class="layui-form-item">
			<label class="layui-form-label">角色类型</label>
			<layui:simpleDictSelect style='layui-input-inline' type="role_type"
				id="type" name="type" />
		</div>
		</div>
	</div>

		
	<layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var roleAdd = layui.add
  roleAdd.init();
});

</script>
