<!--#
var dataAccess = dataAccessList();
for(roleFn in list){  -->
<div class="layui-form-item">
	<div class="layui-inline">
		<label class="layui-form-label">${roleFn.name}</label>
		<div class="layui-input-inline">
			<select name="fn-${roleFn.id}" data-id="${roleFn.id}">
				<option value="">请选择放数据权限</option>
				<!--#for(access in dataAccess){ 
				var selected = "selected='selected'"; 
				if(roleFn.dataAccessType!=access.type){
				selected="";
				}
				-->
				<option value="${access.type}" ${selected} >${access.name}</option>
				<!--#}  -->
			</select>
		</div>
	</div>
</div>
<!--#}  -->
