<!--#layout("/common/layout.html",{"jsBase":"/js/admin/role/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

  <div class="layui-btn-group">
  	<layui:accessButton function="role.add"  action="add">增加</layui:accessButton>
  	<layui:accessButton function="role.edit"  action="edit">编辑</layui:accessButton>
  	<layui:accessButton function="role.del"  action="del">删除</layui:accessButton>
  	<layui:accessButton function="role.user.query"  action="roleUser">查看用户</layui:accessButton>
  </div>
<table id="roleTable" lay-filter="roleTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
  var index = layui.index
  index.init();
});

</script>
