<!--#layout("/common/layout.html",{"jsBase":"/js/admin/cmsBlog/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

  <div class="layui-btn-group">
  	<layui:accessButton function="cmsBlog.add"  action="add">增加</layui:accessButton>
  	<layui:accessButton function="cmsBlog.edit"  action="edit">编辑</layui:accessButton>
  	<layui:accessButton function="cmsBlog.del"  action="del">删除</layui:accessButton>
  
  </div>
<table id="cmsBlogTable" lay-filter="cmsBlogTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
  var index = layui.index
  index.init();
});

</script>
