<!--#layout("/common/container.html"){  -->
  <!-- 顶部 -->
  <form class="layui-form layui-form-pane">
  <div class="layui-header">
    <a href="ibeetl.com" class="layui-hide-xs"><div class="layui-logo">Spring Boot 2 Plus</div></a>
    <a href="javascript:;" class="layui-hide-xs"><div class="fsSwitchMenu"><i class="iconfont icon-category"></i></div></a>
    
    <!-- 顶部菜单 -->
    <ul class="layui-nav layui-layout-left fsTopMenu" id="fsTopMenu" lay-filter="fsTopMenu">
      <!--#for(node in menus.children){  -->
      <li class="layui-nav-item ${nodeLP.first?'layui-this'}" dataPid="${node.data.id}"><a href="javascript:;"><i class="layui-icon">${node.data.icon}</i>
      <!--#if(nodeLP.first){  -->
      <cite>${node.data.name}</cite>
      <!--#}else{  -->
      ${node.data.name}
      <!--#}  -->
      </a></li>
      <!--#} -->
    </ul>
    
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide-xs">
        <a href="javascript:;">
         	${session["core:user"].name}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">基本资料</a></dd>
          <dd id="changeCompanyButton"><a href="javascript:;">${session["core:currentOrg"].name}</a>
          </dd>
        </dl>
      </li>
      <li class="layui-nav-item layui-hide-xs"><a href="/logout.do"><i class="iconfont icon-tuichu"></i> 退出</a></li>
    </ul>
  </div>
  
  <div  id="selectCompany" 
  	style="padding: 50px;display:none;">
  	<div class="layui-row">
		<div class="layui-form-item">
			<select id="companyList"> 
			<!--#
			var allOrgs = session["core:orgs"];
			for(org in allOrgs){
				var checked = false;
				if(session["core:currentOrg"].id==org.id){
					checked=true;
				}
			 -->
		  	
		  	<option value="${org.id}" ${checked?"selected"}>${org.name}</option>
		  	<!--#}  -->
		  	</select>
  		</div>
 	 </div>
 	</div>


  <!-- 左边菜单 -->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree fsMenu"  lay-filter="fsLeftMenu" id="fsLeftMenu">
      	<!--#
      	for(node in menus.children){  
      	var hasSite = true;//系统的第一个菜单默认显示
      	-->
      	<!--#for(subSystem in node.children){  -->
        <li class="layui-nav-item layui-nav-itemed" dataPid="${node.data.id}" style="display: none;">
          <a href="javascript:;">${subSystem.data.name}</a>
          <dl class="layui-nav-child">
          	<!--#for(menu in subSystem.children){  -->
          	<dd class="" ><a href="javascript:;" menuId="${menu.data.id}" dataUrl="${ctxPath}/${menu.data.accessUrl}"><i class="layui-icon">&#xe68e;</i> 
          	${menu.data.name}
          	</a></dd>
            <!--#}  -->
           </dl>
        </li>
        <!--#}  -->
        <!--#}  -->
      </ul>
    </div>
  </div>

  <!-- 右边内容区域 -->
  <div class="layui-body layui-form">
  	<div class="layui-tab layui-tab-card fsTab" lay-filter="fsTab" lay-allowClose="true">
  		
  		<!-- 菜单导航 -->
		<ul class="layui-tab-title">
		 <li class="layui-this">系统说明</li>
		</ul>
		
		<!-- 内容 -->
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
			<!--#include("/help.html"){}  -->
			</div>
		</div>
	</div>
  </div>
  </form>
<!--#}  -->
  