<!--# layout("/common/layout.html",{"jsBase":"/js/admin/menu/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">菜单名</label>
			<div class="layui-input-block">
				<input type="text" name="name" autocomplete="off"
					placeholder="请输入名称" class="layui-input" value="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">菜单代码</label>
			<div class="layui-input-inline">
				<input type="text" name="code"  lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">菜单地址</label>
			<layui:menuFunctionInput style='layui-input-inline' name="functionId" id="functionId"
							value=""></layui:menuFunctionInput>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">菜单排序</label>
					<div class="layui-input-inline">
					<input type="text" name="seq" id="seq"  lay-verify="required"
						placeholder="请输入" autocomplete="off" class="layui-input"
						value="">
					</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">菜单图标</label>
				<div class="layui-input-inline">
				<input type="text" name="icon"  lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">所在父菜单</label>
					<layui:menuInput style='layui-input-inline' name="parentMenuId" id="parentMenuId"
						value=""></layui:menuInput>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">菜单类型</label>
				<layui:simpleDictSelect style='layui-input-inline' type="menu_type"
					id="type" name="type" value="" />
			</div>
		</div>

	</div>

	
	
	<layui:submitButtons id="saveMenu" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var menuAdd = layui.add
  menuAdd.init();
});

</script>

