<!--#layout("/common/layout.html",{"jsBase":"/js/admin/menu/"}){ -->
<layui:searchForm formId="menuSearchForm"  condition="${search}">
</layui:searchForm>

  <div class="layui-btn-group">
  	<layui:accessButton function="menu.add"  action="add">增加</layui:accessButton>
  	<layui:accessButton function="menu.edit"  action="edit">编辑</layui:accessButton>
  	<layui:accessButton function="menu.delete"  action="del">删除</layui:accessButton>
  </div>
<table id="menuTable" lay-filter="menuTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
  var index = layui.index
  index.init();
});

</script>
