<!--# layout("/common/layout.html",{"jsBase":"/js/admin/dict/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
	<div class="layui-row">
		<div class="layui-form-item">

			<div class="layui-inline">
				<label class="layui-form-label">字典值</label>
				<div class="layui-input-inline">
					<input type="text" name="value" class="layui-input">
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">字典名称</label>
				<div class="layui-input-inline">
					<input type="text" name="name" class="layui-input">
				</div>
			</div>




		</div>

	</div>
	<div class="layui-row">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">字典类型</label>
				<div class="layui-input-inline">
					<input type="text" name="type" class="layui-input">
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">类型说明</label>
				<div class="layui-input-inline">
					<input type="text" name="typeName" class="layui-input">
				</div>
			</div>


			<div class="layui-inline">
				<label class="layui-form-label">排序</label>
				<div class="layui-input-inline">
					<input type="text" name="sort" class="layui-input">
				</div>
			</div>

		</div>

	</div>
	<div class="layui-row">
		<div class="layui-form-item">

			<div class="layui-inline">
				<label class="layui-form-label">父字典</label>
				<div class="layui-input-inline">
					<input type="text" name="parent" class="layui-input">
				</div>
			</div>



		</div>

	</div>
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input type="text" name="remark" value="" class="layui-input">
			</div>
		</div>
	</div>

	<layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var dictAdd = layui.add
  dictAdd.init();
});

</script>
