<!--# 
var dicts = core.dictLevel(type,value!);
var id=id!(name+"id");
if(isEmpty(value)){
-->

<!--# for(dict in dicts){ 
 -->
<div class="${style!'layui-input-inline'}">
	<!--#if(dictLP.isLast){ /*最后一项字典需要提交，因此需要名称*/  -->
	<select name="${name}" id="${id}" >
	<!--# }else{  -->
	<select>
	<!--# }  -->
	<option value="">请选择</option>
	<!--#
	if(dictLP.isFirst){ //第一项需要显示完整列表
	var  allData = core.dictDownQuery(dict.type);//该类型下所有字典
	for(one in allData){
	 -->
     <option value="${one.value}">${one.name}</option>
    <!--#}
    } -->
    </select>
</div>
<!--# }  -->
<!--# }else{ /*提供值的情况下，需要遍历每一项父字典*/  -->
<!--# for(dict in dicts){ 
 -->
<div class="${style!'layui-input-inline'}">
	<!--#if(dictLP.isLast){ /*最后一项字典需要提交，因此需要名称*/  -->
	<select name="${name}" id="${id}" >
	<!--# }else{  -->
	<select>
	<!--# }  -->
	<option value="">请选择</option>
	<!--# 
	var  allData = core.dictDownQuery(dict.type);//该类型下所有字典
	var f=dict.value;
	for(one in allData){
		if(one.value==f){ //如果有期望值
	 -->
     <option value="${one.value}" selected>${one.name}</option>
     <!--#}else{  -->
     <option value="${one.value}" >${one.name}</option>
     <!--#}  -->
     <!--#}elsefor{  -->
     <option selected>未配置数据字典:${n}</option>
    <!--#} -->
    </select>
</div>

<!--# }  -->
<!--# }  -->