<!--# /*搜索面板，根据Java的定义来生成搜索面板*/  -->
<div class="layui-row">

<form id="${formId}" class="layui-form layui-form-pane" >
<div class="layui-row">
<div class="layui-form-item">
<!--# 
var items = core.searchCondtion(condition);
for(item in items){  
	select(item.type){
	case 1:{ //general
-->

     <div class="layui-inline">
      <label class="layui-form-label">${item.name}</label>
      <div class="layui-input-inline">
        <input type="text" name="${item.fieldName}" autocomplete="off" class="layui-input">
      </div>
    </div>
<!--#}  
	case 6:{ //控件类
-->
     <!--#
     var component = item.control+".html";
     var paras = {name:item.fieldName,label:item.name};
     include("/common/query/"+component,paras){}  -->
     
<!--#}
	case 5:{ //数据字典
-->
	<div class="layui-inline">
      <label class="layui-form-label">${item.name}</label>
     <layui:simpleDictSelect style='layui-input-inline' type="${item.dict}"
				 name="${item.fieldName}" value="" group="${item.group}"/>
    </div>
  
<!--#}

case 2:{ //日期范围
-->
	 <div class="layui-inline">
      <label class="layui-form-label">${item.name}</label>
      <div class="layui-input-inline">
      	<div class="date-range-pick">
        <input type="text" name="${item.fieldName}" autocomplete="off" class="layui-input">
        </div>
        </div>
      </div>
    
<!--#}  -->
<!--#}/*switch 结束*/  
}/*结束循环*/  -->

  </div>
  
</div>
<div class="layui-row">
 <div class="layui-form-item " style="float: right;" >
    <button class="layui-btn layui-btn-normal" type="button" id="${formId}Search">搜索</button>
  </div>
</div>
${tagBody}
<script>

</script>
  </form>
  </div>
