<!--# 
/*简单一级字典下拉列表控件 
<layui:simpleDictSelect  type="org_type" 
					 name="orgType" value="${user.orgId}" />
*/
-->
<div class="${style!'layui-input-inline'}">
<!--#  
if(has(readonly)){
	var dicts = [];
	var selectedDict = null;
	if(isNotEmpty(type)){
		dicts = dict.dictDownQuery(type);
	}else if(isNotEmpty(group)&&isNotEmpty(value)){
		//级联选择
		dicts = dict.dictListByValue(group,value);
	}
	var expected = value!"";
	for(dict in dicts){
		if(dict.value==(expected+"")){
			selectedDict = dict;
			break;
		}
	}
-->
<input type="text"  class="layui-input input-readonly" value="${selectedDict.name}"></input>
<input type="hidden"  name="${name}" ${isNotEmpty(layVerify)?('lay-verify="'+layVerify+'"'):''} value="${expected}"></input>
<!--#}else{  -->

	<select  data-group="${group!}" name="${name}" ${has(id)?("id="+id):''} ${isNotEmpty(layVerify)?('lay-verify="'+layVerify+'"'):''}>
	<option  value="">请选择</option>
	<!--# 
		var dicts = [];
		if(isNotEmpty(type)){
			dicts = dict.dictDownQuery(type);
		}else if(isNotEmpty(group)&&isNotEmpty(value)){
			//级联选择
			dicts = dict.dictListByValue(group,value);
		}
		var expected = value!"";
		for(dict in dicts){
	 -->
	 
    <option value="${dict.value}" ${dict.value==(expected+"")?'selected'}>${dict.name}</option>
      
   <!--#}-->
    </select>
 <!--#}  -->
</div>
