<!--# /*简单一级字典下拉列表控件*/  -->
<div class="${style!'layui-input-inline'}">
	<select data-group="${group!}" name="${name}" ${has(id)?("id="+id):''}>
	<option value="">请选择</option>
	<!--# 
		var dicts = [];
		if(isNotEmpty(type)){
			dicts = dict.dictDownQuery(type);
		}else if(isNotEmpty(group)&&isNotEmpty(value)){
			//级联选择
			dicts = dict.dictListByValue(group,value);
		}
		var expected = value!"";
		for(dict in dicts){
	 -->
	 
    <option value="${dict.value}" ${dict.value==expected?'selected'}>${dict.name}</option>
      
   <!--#}-->
    </select>
</div>
